@model CumulativeProject.Models.Student
@{
    ViewBag.Title = "Show Students";
}

<a class="navlink" href="/Student/ListStudents">Back To Students</a>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div id="containershow">
    <h2>@Model.StudentFname @Model.StudentLname</h2>
    <table>
        <tr>
            <th>Student ID</th>
            <th>Student Number</th>
            <th>Enrol date</th>
        </tr>
        <tr>
            <td>@Model.StudentId</td>
            <td>@Model.StudentNumber</td>
            <td>@Model.EnrolDate</td>
        </tr>
    </table>
</div>


